#dgHolidaySubmitClaims_main, #dgHolidaySubmitClaims_main td, #dgHolidaySubmitClaims_div {
  height: auto!important;
}


/* Fix for popout menus showing behind table header row */
#jsddm_summary li ul, #jsddm_item li ul { z-index: 1000; }

/* Fix popout menu options having huge padding */
#jsddm_summary li ul li, #jsddm_item li ul li { display: list-item !important; }

/* Fix popout menu options flickering padding on hover */
#jsddm_summary li ul li a, #jsddm_item li ul li a { padding: 3px 4px !important; }

/* Improve popout menu readability/clickability */
#jsddm_summary li ul li a, #jsddm_item li ul li a { font-size: 11px !important; }
#jsddm_summary li ul li, #jsddm_item li ul li { padding: none !important; }



/* Custom class for my bank holiday'd fields */
input[type=text].bankHolidayDay::placeholder, input[type=checkbox].bankHolidayDay:after {
	color: #666;
	font-weight: bold;
	text-align: center;
}

/* Style text inputs */
input[type=text].bankHolidayDay {
	background: #ff6;
	color: #f00;
	font-weight: bold;
}

/* Style checkboxes */
input[type=checkbox].bankHolidayDay {
	position: relative;
	filter: brightness(0.85) sepia(1) saturate(200%); /* Make checkbox yellow maintaining browser checkbox style */
}
input[type=checkbox].bankHolidayDay:after {
    content: "Bank H";
	font-size: 10px; /* Shrink font slightly */
	display: inline-block;
	width: 50px;
    height: 20px;
	
	/* Center under checkbox */
	position: absolute;
	left: -50%;
	top: 100%;
}